
$Dark-Text :hsl(240, 6%, 50%);
$Ver-darkText: hsl(237, 12%, 33%);
$Dividers: hsl(240, 5%, 91%);
$font:'Kumbh Sans';
*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(0deg, rgba(100,99,231,1) 0%, rgba(176,104,233,1) 100%);
    min-height: 100%; 
    background-repeat: no-repeat;
    font-size:12px;
    font-family: $font;
}

.accordion-container{
    margin: 7rem 3rem;
    background-color: #fff;
    border-radius: 20px;
    
    @media (min-width:768px) {
        display: flex;
        max-width: 800px;
        margin: auto;
        margin-top: 5rem;
        justify-content: space-between;
        overflow: hidden;
    }

    
    .pic{
        display: flex;
        justify-content: center;
        position: relative;

        // .invisible{
        //     background-image: url('/images/illustration-box-desktop.svg');
        //     display: none;
        //     @media (min-width:768px) {
        //         display: block;
        //         position:absolute;
        //         top: 35%;
        //         left:-95px;
        //         height: 150px;
        //         width: 150px;
        //         z-index: 2;
                    
        //         // transform: rotate(0deg);
        //     }
        // }

        .position{
            position: absolute;
            top: -13px;
            @media (min-width:768px) {
                top: 0;
            }
            .bg-pattern{
                //center a "position: absolute" element
                background: url('/images/bg-pattern-mobile.svg');
                width: 257px;
                height: 110px;
                background-position: center; /* Center the image */
                background-repeat: no-repeat; /* Do not repeat the image */
                background-size: cover; /* Resize the background image to cover the entire container */
                margin-top: -6rem;
                margin-left: 1.5rem;
                @media (min-width:768px) {
                    background: url('/images/bg-pattern-desktop.svg');
                    margin-top: -27rem;
                    margin-left: -95px;
                    width: 604px;
                    height: 529px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    
                }
            }
            .woman-pic{
                background-image: url('/images/illustration-woman-online-mobile.svg');
                width: 277px;
                height: 200px;
                background-position: center; /* Center the image */
                background-repeat: no-repeat; /* Do not repeat the image */
                background-size: cover; 
                margin-top: -6rem;
               
                @media (min-width:768px) {
                    background-image: url('/images/illustration-woman-online-desktop.svg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 312px;
                    height: 237px;
                    margin-left: 12rem;
                    margin-top: 10px;
                    z-index: 1;
                    position: relative; // need it for Z-index
                }
            }
        }
    }
    .accordion-body{
        @media (min-width:768px) {
            max-width: 380px;
           
           
        }
      
        h1{
            text-align: center;
            padding-bottom: 2rem;
            color: #1E1F36;
            font-size: 1.5rem;
            margin-top: 8rem;
            @media (min-width:768px) {
                padding: 1rem 0;
                margin: 0;
                text-align: left;
            }
        }
         .accordion-content{

          .accordion{
                border: none;
                cursor: pointer;
                padding: .75rem 0.2rem;
                text-align: left;
                width: 100%;
                outline: none;
                transition: 0.4s;
                color: #4B4C5F;
                background-color: #fff;
                border-bottom: 2px solid $Dividers;
                &:hover{
                    color: #F47B56;
                }
                
                &::after{
                    content: url("/images/icon-arrow-down.svg");
                    margin-left: .5rem;
                }
                &.last-item{
                margin-bottom: 3rem;
                }
                
            }
            .active{
                transition: 1s;
                font-weight: 700;
                &::after{
                    content: url("/images/icon-arrow-down.svg");
                    transform: rotate(180deg);
                }
                &.last-item{
                    margin-bottom: 0;
                    }
            } 
            
            .panel{
                padding: 1rem .5rem;
                display: none;
                background-color: white;
                color: #787887;
                overflow: hidden;
                transition: max-height 0.2s ease-out;
    
            }
            
        }
        
    }
   
}
.attribution { 
    margin: 5rem 0;
    font-size: 11px; text-align: center; 
    a {
         color: hsl(228, 45%, 44%)
     }
}
