*, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left bottom, left top, from(#6463e7), to(#b068e9));
  background: linear-gradient(0deg, #6463e7 0%, #b068e9 100%);
  min-height: 100%;
  background-repeat: no-repeat;
  font-size: 12px;
  font-family: "Kumbh Sans";
}

.accordion-container {
  margin: 7rem 3rem;
  background-color: #fff;
  border-radius: 20px;
}

@media (min-width: 768px) {
  .accordion-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 800px;
    margin: auto;
    margin-top: 5rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden;
  }
}

.accordion-container .pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.accordion-container .pic .position {
  position: absolute;
  top: -13px;
}

@media (min-width: 768px) {
  .accordion-container .pic .position {
    top: 0;
  }
}

.accordion-container .pic .position .bg-pattern {
  background: url("/images/bg-pattern-mobile.svg");
  width: 257px;
  height: 110px;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  margin-top: -6rem;
  margin-left: 1.5rem;
}

@media (min-width: 768px) {
  .accordion-container .pic .position .bg-pattern {
    background: url("/images/bg-pattern-desktop.svg");
    margin-top: -27rem;
    margin-left: -95px;
    width: 604px;
    height: 529px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.accordion-container .pic .position .woman-pic {
  background-image: url("/images/illustration-woman-online-mobile.svg");
  width: 277px;
  height: 200px;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  margin-top: -6rem;
}

@media (min-width: 768px) {
  .accordion-container .pic .position .woman-pic {
    background-image: url("/images/illustration-woman-online-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 312px;
    height: 237px;
    margin-left: 12rem;
    margin-top: 10px;
    z-index: 1;
    position: relative;
  }
}

@media (min-width: 768px) {
  .accordion-container .accordion-body {
    max-width: 380px;
  }
}

.accordion-container .accordion-body h1 {
  text-align: center;
  padding-bottom: 2rem;
  color: #1E1F36;
  font-size: 1.5rem;
  margin-top: 8rem;
}

@media (min-width: 768px) {
  .accordion-container .accordion-body h1 {
    padding: 1rem 0;
    margin: 0;
    text-align: left;
  }
}

.accordion-container .accordion-body .accordion-content .accordion {
  border: none;
  cursor: pointer;
  padding: .75rem 0.2rem;
  text-align: left;
  width: 100%;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #4B4C5F;
  background-color: #fff;
  border-bottom: 2px solid #e7e7e9;
}

.accordion-container .accordion-body .accordion-content .accordion:hover {
  color: #F47B56;
}

.accordion-container .accordion-body .accordion-content .accordion::after {
  content: url("/images/icon-arrow-down.svg");
  margin-left: .5rem;
}

.accordion-container .accordion-body .accordion-content .accordion.last-item {
  margin-bottom: 3rem;
}

.accordion-container .accordion-body .accordion-content .active {
  -webkit-transition: 1s;
  transition: 1s;
  font-weight: 700;
}

.accordion-container .accordion-body .accordion-content .active::after {
  content: url("/images/icon-arrow-down.svg");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion-container .accordion-body .accordion-content .active.last-item {
  margin-bottom: 0;
}

.accordion-container .accordion-body .accordion-content .panel {
  padding: 1rem .5rem;
  display: none;
  background-color: white;
  color: #787887;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.attribution {
  margin: 5rem 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */